body {
    padding-top: 50px;
}

.navbar-brand {
    padding-left: 45px;
    background: url("../img/cq_0004.png") no-repeat center left;
    background-size: 40px;
}

footer {
    padding: 15px 0 5px;
    background-color: #2e2e2f;
    text-align: center;
    vertical-align: middle;
    color: #707172;
}

/* index */

.content-index {
    height: 650px;
}

.content-index-a {
    background: url("../img/index_banner.png") no-repeat center;
}

.content-index-a .content {
    padding-top: 200px;
    font-size: 30px;
    color: white;
    line-height: 55px;
}

.content-index-a img {
    margin-top: 101px;
}

.content-index-a button {
    color: white;
    background: transparent url("../img/iconfont-apple.png") no-repeat 5px;
    background-size: 20px 20px;
    padding: 8px 12px 8px 29px;
    border-width: 2px;
    border-radius: 7px;
}

.content-index-a button:hover {
    color: white;
}

.content-index-b {
    background-color: #fbfcfe;
}

.content-index-b .content {
    padding-top: 200px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-b .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

.content-index-b img {
    margin-top: 55px;
}

.content-index-c {
    background-color: #f9f9ed;
}

.content-index-c .content {
    padding-top: 200px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-c .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

.content-index-c img {
    margin-top: 47px;
}

.content-index-d {
    background-color: #fbfcfe;
}

.content-index-d .content {
    padding-top: 200px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-d .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

.content-index-d img {
    margin-top: 39px;
}

/* about */

.content-about {
    height: 650px;
}

.content-about-b {
    background-color: #eff0f1;
}

.content-about-header {
    height: 650px;
    background: url("../img/about-banner.png") no-repeat center center;
}

.content-about-header .content {
    color: white;
    font-size: 28px;
    line-height: 40px;
    margin-top: 150px;
}

.content-about-header .content h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.content-about .content {
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 2em;
    font-size: 18px;
    line-height: 35px;
}

.content-about .content h1 {
    text-indent: 0;
    text-align: center;
    color: #f4ba1c;
    font-size: 28px;
}

.content-about .img {
    text-align: center;
}

.content-about-c .content p {
    text-indent: 0;
    text-align: center;
    color: #f4ba1c;
}

.content-about-c img {
    margin-left: 60px;
}

/* team */

.content-team-header {
    height: 650px;
    background: url("../img/team-banner.png") no-repeat center center;
}

.content-team {
    text-indent: 2em;
}

.content-team h1 {
    color: #f4ba1c;
    font-size: 30px;
}

.content-team p {
    font-size: 18px;
    line-height: 35px;
}

.content-photo {
    text-align: center;
}

.content-photo .row {
    margin-bottom: 50px;
}

.content-photo .photo {
    border: 1px solid black;
    border-radius: 999px;
}

.content-photo .name {
    font-size: 25px;
}

/* jobs */

.content-jobs-header {
    height: 600px;
    background: url("../img/jobs-banner.png") no-repeat center center;
    color: white;
}

.content-jobs-header .row {
    margin-top: 110px;
}

.content-jobs-header h1 {
    font-size: 42px;
}

.content-jobs-header .content {
    font-size: 24px;
    line-height: 45px;
}

.content-jobs-header .content ul {
    margin-left: 46px;
}

.content-jobs-a .text1 {
    margin-top: 50px;
    font-size: 24px;
}

.content-jobs-a .text2 {
    margin-top: 30px;
    font-size: 18px;
}

.content-jobs-a .text3 {
    font-size: 18px;
    color: #f4ba1c;
    margin-bottom: 60px;
}

.content-jobs-b {
    height: 800px;
}

.content-jobs-b .dept {
    list-style: none;
}

.content-jobs-b .dept li {
    margin-bottom: 20px;
}

.content-jobs-b .dept li a {
    display: block;
    width: 104px;
    padding: 8px 15px;
    border: 1px solid #8e8e8e;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.content-jobs-b .dept li a.active {
    background-color: #f8c10b;
    color: white;
}

.panel-body {
    line-height: 30px;
}