/* Webfont: RTWSYueRoundedGothicDemo-Reg */
@font-face {
    font-family: 'RTWSYueRoudGoDemo';
    src: url('../fonts/RTWSYueRoundedGothicDemo-Reg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/RTWSYueRoundedGothicDemo-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/RTWSYueRoundedGothicDemo-Reg.woff') format('woff'), /* Modern Browsers */
    url('../fonts/RTWSYueRoundedGothicDemo-Reg.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/RTWSYueRoundedGothicDemo-Reg.svg#RTWSYueRoundedGothicDemo-Reg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    padding-top: 70px;
    font-family: "华文细黑","Source Han Sans","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default {
    background-color: white;
}

.navbar-brand {
    height: 70px;
    padding: 15px 15px 5px;
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:after {
    display: block;
    margin: 8px auto 0;
    width: 28px;
    content: "";
    border-bottom: 2px solid transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    color: #ffca01;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a:after, .navbar-default .navbar-nav>.active>a:focus:after, .navbar-default .navbar-nav>.active>a:hover:after {
    display: block;
    margin: 8px auto 0;
    width: 28px;
    content: "";
    border-bottom: 2px solid #ffca01;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color: #ffca01;
}

.navbar-default .navbar-nav>li>a:focus:after, .navbar-default .navbar-nav>li>a:hover:after {
    display: block;
    margin: 8px auto 0;
    width: 28px;
    content: "";
    border-bottom: 2px solid #ffca01;
}

@media(max-width:767px) {

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-default .navbar-nav>li>a:after, .navbar-default .navbar-nav>.active>a:after, .navbar-default .navbar-nav>li>a:focus:after, .navbar-default .navbar-nav>li>a:hover:after {
        display: none;
    }
}

footer {
    padding: 30px 0 20px;
    background-color: #2e2e2f;
    text-align: center;
    vertical-align: middle;
    color: #707172;
}

/* index */

.content-index {
    padding: 50px 0;
}

.content-index .content {
    font-family: 'RTWSYueRoudGoDemo', serif;
    text-align: center;
    padding-top: 90px;
    color: #ffca01;
}

.content-index .content p:nth-child(2) {
    margin: 0 auto;
    width: 300px;
    font-size: 20px;
    border: 1px dotted #585959;
    border-radius: 5px;
}

.content-index-b .content {
    background: url("../img/iconh.png") no-repeat top;
}
.content-index-c .content {
    background: url("../img/icon2h.png") no-repeat top;
}
.content-index-d .content {
    background: url("../img/icon3h.png") no-repeat top;
}
.content-index-e .content {
    background: url("../img/icon5h.png") no-repeat top;
}

.content-index-a {
    padding: 50px 0;
}

.content-index-a {
    background: url("../img/index_banner.png") no-repeat center;
}

.content-index-a .content {
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 30px;
    color: white;
    line-height: 55px;
}

.content-index-a img {
    margin-top: 30px;
    margin-bottom: -50px;
}

.content-index-a button {
    color: white;
    background: transparent url("../img/iconfont-apple.png") no-repeat 5px;
    background-size: 20px 20px;
    padding: 8px 12px 8px 29px;
    border-width: 2px;
    border-radius: 7px;
}

.content-index-a button:hover {
    color: white;
}

@media(max-width:767px) {

    .content-index-a .content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .content-index-a img {
        display: none;
    }

}

.content-index-b .content {
    margin-top: 180px;
    margin-bottom: 180px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-b .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

.content-index-b img {
    margin-bottom: -10px;
}

@media(max-width:767px) {

    .content-index-b .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.content-index-c .content {
    margin-top: 180px;
    margin-bottom: 180px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-c .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

@media(max-width:767px) {

    .content-index-c .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.content-index-d .content {
    margin-top: 180px;
    margin-bottom: 180px;
    font-size: 30px;
    line-height: 50px;
}

.content-index-d .content p:nth-child(3) {
    margin-top: -10px;
    font-size: 15px;
}

@media(max-width:767px) {

    .content-index-d .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.content-index-e .content {
    margin-top: 180px;
    margin-bottom: 180px;
    font-size: 30px;
    line-height: 50px;
}

@media(max-width:767px) {

    .content-index-e .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.content-index-f {
    font-family: 'RTWSYueRoudGoDemo', serif;
    text-align: center;
}

.content-index-f p:nth-child(1) {
    font-size: 30px;
}

.content-index-f p:nth-child(2) {
    margin: 30px auto 0;
    width: 300px;
    padding: 10px 20px;
    font-size: 24px;
    letter-spacing: 2px;
    color: #ffca01;
    border: 1px solid #ffca01;
    border-radius: 5px;
}

.content-index-f p:nth-last-child(1) {
    margin-top: 20px;
    margin-bottom: 60px;
}

.content-index-f img {
    margin-top: 80px;
    width: 130px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    padding: 5px;
}

/* about */

.banner {
    position: relative;
    overflow: auto;
    text-align: center;
}
.banner ul {
    padding: 0
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
    height: 600px;
    background-size: contain;
}
.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

.content-about {
    padding: 50px 0;
}

.content-about-b, .content-about-d {
    background-color: #eff0f1;
}

.content-about .content {
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 2em;
    font-size: 18px;
    line-height: 35px;
}

.content-about .content h1 {
    font-family: RTWSYueRoudGoDemo;
    text-indent: 0;
    text-align: center;
    color: #f4ba1c;
    font-size: 28px;
}

.content-about .img {
    text-align: center;
}

.content-about-c .content p {
    text-indent: 0;
    text-align: center;
    color: #f4ba1c;
}

.content-about-c img {
    margin-left: 60px;
}

@media(max-width:767px) {

    .content-about-d img {
        width: 100%;
    }

    .content-about-c img {
        width: 100%;
        margin: 0;
    }

    .content-about-a img {
        margin-bottom: 20px;
    }

}

/* team */

.content-team-header img {
    width: 100%;
}

.content-team {
    text-indent: 2em;
    margin-bottom: 100px;
}

.content-team h1 {
    font-family: RTWSYueRoudGoDemo;
    color: #f4ba1c;
    font-size: 30px;
}

.content-team p {
    font-size: 18px;
    line-height: 35px;
}

.content-photo {
    text-align: center;
}

.content-photo .row {
    margin-bottom: 50px;
}

.content-photo .photo {
    border: 1px solid black;
    border-radius: 999px;
}

.content-photo .name {
    font-size: 25px;
}

@media(max-width:767px) {

    .content-photo .row {
        margin-bottom: 30px;
    }

    .content-photo .row .desc:first-child {
        margin-bottom: 30px;
    }
}

/* jobs */

.content-jobs-header {
    padding: 50px 0;
    background: url("../img/jobs-banner.png") no-repeat center center;
    color: white;
}

.content-jobs-header .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-jobs-header h1 {
    font-size: 42px;
}

.content-jobs-header .content {
    font-size: 24px;
    line-height: 45px;
}

.content-jobs-header .content ul {
    margin-left: 46px;
}

.content-jobs-a .text1 {
    margin-top: 50px;
    font-size: 24px;
}

.content-jobs-a .text2 {
    margin-top: 30px;
    font-size: 18px;
}

.content-jobs-a .text3 {
    font-size: 18px;
    color: #f4ba1c;
    margin-bottom: 60px;
}

.content-jobs-b {
    height: 800px;
}

.content-jobs-b .dept {
    list-style: none;
}

.content-jobs-b .dept li {
    margin-bottom: 20px;
}

.content-jobs-b .dept li a {
    display: block;
    width: 104px;
    padding: 8px 15px;
    border: 1px solid #8e8e8e;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.content-jobs-b .dept li a:hover {
    background-color: #f8c10b;
    color: white;
}

.content-jobs-b .dept li a.active {
    background-color: #f8c10b;
    color: white;
}

.panel-body {
    line-height: 30px;
}

.panel-default .panel-heading {
    background-color: white;
}

.panel-title {
    color: #f8c10b;
}

.panel-title a, .panel-title a:hover {
    text-decoration: none;
}

.panel-body {
    background-color: #e9eaeb;
}

.dept-phone {
    display: none;
}

@media(max-width:767px) {

    .content-jobs-header .content ul{
        margin: 0;
    }

    .dept {
        display: none;
    }

    .dept-phone {
        display: inline-block;
        margin-bottom: 20px;
    }

    .dept-phone .btn-default.active, .dept-phone .btn-default:active, .dept-phone .btn-default:focus, .dept-phone .btn-default:hover {
        color: white;
        background-color: #f8c10b;
    }

    .dept-phone .btn.active {
        box-shadow: none;
    }

}

/* business */

.content-business-header img {
    width: 100%;
}

.content-business {
    padding: 50px 0;
    text-align: center;
}

.content-business-a {
    background-color: #eeeff0;
}

.content-business h1 {
    margin-top: -15px;
    font-family: impact, serif;
    font-size: 48px;
    color: #f8c10b;
}

.content-business .sub-title {
    background: url("../img/341.pic_hd.jpg") repeat-x center;
}

.content-business h3 {
    margin: 20px auto 10px;
    width: 136px;
}

.content-business-a h3 {
    background-color: #eeeff0;
}

.content-business-b h3 {
    background-color: white;
}

.content-business .content-wrapper {
    margin-top: 30px;
}

.content-business .content-wrapper p {
    text-align: left;
    font-size: 22px;
    padding-top: 120px;
}

.content-bd {
    background: url("../img/bangdan.png") no-repeat top;
}
.content-aso {
    background: url("../img/aso.png") no-repeat top;
}
.content-rs {
    background: url("../img/resou.png") no-repeat top;
}

.content-business .img-row {
    line-height: 120px;
}

.content-business .content-anli {
    margin-top: 40px;
}

.content-business .content-contact {
    margin-top: 40px;
}

.content-business .content-contact p {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px;
}

@media(max-width:767px) {
    .content-business .content-anli img {
        width: 100%;
    }
}

.img-content img {
    width: 100%;
}